/* ROOT VARIABLES */
:root {
  --main:#76C38F;
  --second:#290000;
  --third:#660000;
  --blue: #1e90ff;
  --white: #ffffff;
  --dark-orange: rgb(255, 145, 0);
  --silver-white:#ddd;
  --charcoal:#262626;
  --light-charcoal:#4d4d4d;

}
